<div>
  <div>
    <h4>
      1. Is it free?
    </h4>
    <p>
    Yes! We are 100% free with new lessons and features being added regularly.
    </p>
  </div>
  <div>
    <h4>
      2. Can I save new phrases and vocabulary words I see?
    </h4>
    <p>
    Struggling to find the right words when learning a new language can be frustrating. Imagine having a tool that helps you lock in new phrases and vocabulary effortlessly. We’re excited to bring you flashcards with spaced repetition, designed to make learning fast, effective, and unforgettable. Stay tuned!
    </p>
  </div>
  <div>
    <h4>
      3. Can I learn a new language with no pervious knowledge here?
    </h4>
    <p>
    It's best to know the basics like the alphabet and sentence structure before jumping into listening practice. Head over to our Grammar and Common Words and Phrases sections to create a solid foundation for learning a new language.
    </p>
  </div>
  <div>
    <h4>
      4. What other things can I do to improve?
    </h4>
    <p>
    Use it or lose it! Go out and use your new found abilites to discover new cultures.
    </p>
  </div>
  <div>
    <h4>
      4. What languages do you support?
    </h4>
    <p>
    Exercises are currently all in English with translations in Spanish, Korean, Japanese, Hindi, French, Italian, Portuguese, German, Russian, and Mandarin. Please let us know if there is another you wish to add!
    </p>
  </div>
</div>
