<% percent = ((current_index / total.to_f).round(2) * 100).to_i %>
<div class="progress-container">
  <span class="progress-text"><%= current_index %>/<%= total %> </span>
  <div class="meter">
    <span style="width: <%= percent %>%;"></span>
  </div>
</div>
