<h1>Write What You Hear, Learn as You Go – Language Fun for Everyone!</h1>
<p>
Turbocharge your language learning for free! Practice by listening and writing what you hear. Improve your listening, speaking, grammar, and vocabulary all at once!
</p
<p>
We have hundreds of exercises in all different difficulties and are adding new ones daily!
</p>
<%= link_to passages_path  do %>
  Start Now!
<% end %>
<div>
  <p>
  Choose from over 20+ topics and real life situations to learn a language.
  </p>
  <p>
  We recommend following these simple steps to begin learn at the speed of light
  </p>
  <div>
    <h4>1. Listen</h4>
    <p>
    Listening supercharges language learning by exposing you to real-world speech, helping you pick up vocabulary, grammar, pronunciation, and flow naturally.
    </p>
  </div>
  <div>
    <h4>2. Write</h4>
    <p>
    Writing strengthens language learning by reinforcing vocabulary, grammar, and sentence structure through active practice.
    </p>
  </div>
  <div>
    <h4>3. Check & Correct</h4>
    <p>
    Correcting mistakes accelerates language learning by turning errors into valuable lessons.
    </p>
  </div>
  <div>
    <h4>4. Read</h4>
    <p>
    Reading out loud improves language learning by enhancing pronunciation, fluency, and listening skills. It helps you internalize the language’s rhythm while boosting speaking confidence.
    </p>
  </div>
  <div>
    <h4>5. Recall (Flashcards coming soon)</h4>
    <p>
    Creating flashcards for spaced repetition helps language learning by reinforcing vocabulary and concepts at optimal intervals. This method boosts long-term memory retention while making learning more efficient and personalized.
    </p>
  </div>
</div>
<div>
  <h4>
    Exercises
  </h4>
  <div>
    We have hundreds of exercises in the form of passages. Passages are split up into different topics with difficulty levels ranging from Basic and A1, to C3 and Native! Below are few of the 20+ different topic you will find here. New passages are added daily!
  </div>
  <div>
    <div>
      World News
    </div>
    <div>
      Sports
    </div>
    <div>
      Health
    </div>
    <div>
      Daily Routine
    </div>
    <div>
      Career
    </div>
    <div>
      Conversations
    </div>
    <div>
      Dating
    </div>
    <div>
      Food
    </div>
  </div>
</div>

<div>
  <h2>Frequently Asked Questions</h2>
  <div>
    <div>
      <h4>
        1. Is it free?
      </h4>
      <p>
      Yes! We are 100% free with new lessons and features being added regularly
      </p>
    </div>
    <div>
      <h4>
        2. Can I save new phrases and vocabulary words I see?
      </h4>
      <p>
      Struggling to find the right words when learning a new language can be frustrating. Imagine having a tool that helps you lock in new phrases and vocabulary effortlessly. We’re excited to bring you flashcards with spaced repetition, designed to make learning fast, effective, and unforgettable. Stay tuned!
      </p>
    </div>
    <div>
      <h4>
        3. Can I learn a new language with no pervious knowledge here?
      </h4>
      <p>
      It's best to know the basics like the alphabet and sentence structure before jumping into listening practice. Head over to our Grammar and Common Words and Phrases sections to create a solid foundation for learning a new language.
      </p>
    </div>
    <div>
      <h4>
        4. What other things can I do to improve?
      </h4>
      <p>
      Use it or lose it! Go out and use your new abilites to connect with people from around the world
      </p>
    </div>
    <div>
      <h4>
        4. What languages do you support?
      </h4>
      <p>
      Exercises are currently all in English with translations in Spanish, Korean, Japanese, Hindi, French, Italian, Portuguese, German, Russian, and Mandarin. Please let us know if there is another you wish to add!
      </p>
    </div>
  </div>
</div>
