<div class="breadcrumbs">
  <%= link_to t('.all_exercises'), passages_path %>
  <% if @category.present? %>
    <span> / </span>
    <%= link_to @category, passages_by_category_path(category_name: params[:category_name]) %>
  <% end %>
  <% if @passage.present? %>
    <span> / </span>
    <%= link_to @passage.title.titleize, passage_writer_path(params[:category_name], @passage.title) %>
  <% end %>
</div>

