/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins, paddings, and borders */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Set base line-height */
html {
  line-height: 1.5;
  font-size: 100%; /* Reset font size */
  -webkit-text-size-adjust: 100%;
}

/* Remove list styles */
ol, ul {
  list-style: none;
}

/* Reset table borders */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Anchor reset */
a {
  text-decoration: none;
  color: inherit;
}

/* Image reset */
img, video, canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Button reset */
button, input, select, textarea {
  font: inherit;
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  appearance: none;
}

/* Form elements reset */
input, textarea {
  outline: none;
}

/* Default body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
  font-size: 16px; /* Base font size for rem units */
  margin: 0px;
  padding: 0px;
}

/* Variables */
@keyframes fillAnimation {
  0% {
    fill: #ff0000;
  }
  20% {
    fill: #ffa500;
  }
  40% {
    fill: #ffff00;
  }
  60% {
    fill: #008000;
  }
  80% {
    fill: #0000ff;
  }
  100% {
    fill: #ff0000;
  }
}
@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  margin: 0 0 1rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #0D6EFD;
}
a.link-button {
  border-radius: 5px;
  padding: 0.75rem;
  color: white;
  background-color: #0F64CD;
}
a.link-button.success-link {
  background-color: green;
}
a.link-button.neutral-link {
  background-color: #686D76;
}
a.link-button:hover {
  filter: brightness(110%);
  text-decoration: none;
}
a.link-button:hover:active {
  transform: scale(0.96);
}
a:hover {
  text-decoration: underline;
}

button {
  line-height: 1rem;
}

button.button {
  font-size: 1rem;
  padding: 7px;
  border: solid 1px #686D76;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}
button.button:hover {
  background-color: #686D76;
  color: white;
}
button.button:hover:active {
  transform: scale(0.96);
}
button.button:not(:last-child) {
  margin-right: 5px;
}
button.button.success-button {
  border: solid 1px green;
  background-color: green;
  color: white;
}
button.button.success-button:hover {
  filter: brightness(110%);
}
button.button.success-button.empty {
  border: solid 1px green;
  background-color: white;
  color: green;
}
button.button.success-button.empty:hover {
  background-color: green;
  color: white;
}
button.button.action-button {
  background-color: white;
  border: solid 1px #0F64CD;
  color: #0F64CD;
}
button.button.action-button:hover {
  background-color: #0F64CD;
  color: white;
}
button.button.neutral-button {
  background-color: white;
  border: solid 1px #686D76;
  color: #686D76;
}
button.button.neutral-button:hover {
  background-color: #686D76;
  color: white;
}
button.button.warning-button {
  background-color: #F3C623;
  border: solid 1px #F3C623;
  color: white;
}
button.button.warning-button:hover {
  filter: brightness(95%);
}
button.button.warning-button.empty {
  background-color: white;
  border: solid 1px #F3C623;
  color: #F3C623;
}
button.button.warning-button.empty:hover {
  background-color: #F3C623;
  color: white;
  filter: brightness(95%);
}
button.button.fatal-button {
  background-color: white;
  border: solid 1px #C8102E;
  color: #C8102E;
}
button.button.fatal-button:hover {
  background-color: #C8102E;
  color: white;
}
button.button.arrow-button {
  background-color: white;
  border: none;
  padding-left: 11px;
  padding-right: 11px;
}
button.button.arrow-button:hover {
  color: #0F64CD;
}

select {
  /* Remove default styling on some browsers */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* Basic box styling */
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  /* Font styles */
  font-size: 1rem;
  font-family: inherit;
  /* Optionally add a custom arrow (using a background image or pseudo-element) */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23AAA" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6.516 7.548a.75.75 0 10-1.032 1.088l4.036 3.83a.75.75 0 001.032 0l4.036-3.83a.75.75 0 00-1.032-1.088L10 11.43 6.516 7.548z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  /* Give extra space for the arrow */
  padding-right: 2rem;
  /* Hover/Focus styles */
  cursor: pointer;
  margin-bottom: 0.5rem;
}

select:focus {
  border-color: #666;
  outline: none;
}

form #error_explanation {
  padding-bottom: 13px;
}
form #error_explanation h4 {
  color: red;
}
form .field_with_errors {
  color: red;
  display: inline-block;
}
form label {
  font-weight: bold;
}

form.form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem 2rem;
  align-items: start;
  max-width: 50%;
  margin: 1rem 0;
  /* Style for each text-field */
  /* Labels */
  /* Input Fields */
  /* Textarea Field */
  /* Submit Button */
  /* Responsive Design */
}
form.form .text-field {
  display: contents;
}
form.form label {
  text-align: left;
  padding-top: 0.125rem;
  font-weight: bold;
}
form.form .input-field {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.125rem 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}
form.form .textarea-field {
  width: 100%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
  box-sizing: border-box;
}
form.form .submit-field {
  grid-column: 2/3;
  justify-self: start;
}
form.form .submit-field .submit-button {
  padding: 0.5rem 1.5rem;
  border: 1px solid #0F64CD;
  color: #F6F1E9;
  background-color: #0F64CD;
  border-radius: 3px;
  font-size: 1rem;
  transition: filter 0.3s ease, transform 0.1s ease;
}
form.form .submit-field .submit-button:hover {
  cursor: pointer;
  filter: brightness(110%);
}
form.form .submit-field .submit-button:active {
  transform: scale(0.97);
}
@media (min-width: 769px) and (max-width: 1024px) {
  form.form {
    grid-template-columns: 120px 1fr;
    grid-gap: 0.75rem 1.5rem;
    max-width: 75%;
  }
}
@media (max-width: 768px) {
  form.form {
    grid-template-columns: 100px 1fr;
    grid-gap: 0.5rem 1rem;
    max-width: 100%;
    /* Stack labels above inputs if desired */
  }
  form.form .text-field {
    display: grid;
    grid-gap: 0.25rem;
    grid-column: 1/3;
  }
  form.form label {
    text-align: left;
  }
  form.form .input-field, form.form .textarea-field {
    width: 100%;
  }
  form.form .submit-field {
    grid-column: 1/-1;
    justify-self: center;
    width: 100%;
  }
  form.form .submit-field input[type=submit] {
    width: 100%;
  }
}

table th {
  border-bottom: solid 1px black;
}
table tbody tr:not(:last-child) td {
  border-bottom: solid 1px black;
}
table tbody td {
  padding: 3px;
  text-align: center;
}

.pagy {
  display: flex;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(107, 114, 128);
}
.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * (1 - var(--space-reverse)));
}
.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(229, 231, 235);
  padding: 0.25rem 0.75rem;
  color: inherit;
}
.pagy a:not(.gap):hover {
  background-color: rgb(209, 213, 219);
}
.pagy a:not(.gap):not([href]) { /* disabled links */
  cursor: default;
  background-color: rgb(243, 244, 246);
  color: rgb(209, 213, 219);
}
.pagy a:not(.gap).current {
  background-color: rgb(156, 163, 175);
  color: rgb(255, 255, 255);
}
.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: rgb(229, 231, 235);
  padding: 0.125rem 0.75rem;
}
.pagy label input {
  line-height: 1.5rem;
  border-radius: 0.375rem;
  border-style: none;
  background-color: rgb(243, 244, 246);
}

.pagy-container {
  margin: 0.75rem 0;
}

.breadcrumbs {
  font-size: 1rem;
  padding: 11px 0;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-3px);
  }
  40%, 80% {
    transform: translateX(3px);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#flash {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 33px;
  z-index: 9999;
}
#flash .flash {
  padding: 5px 11px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* horizontal, vertical, blur, color */
  background-color: #F6F1E9;
  font-size: 19px;
  font-weight: 600;
  animation: shake 0.25s ease, fadeOut 0.5s ease 2s forwards;
  animation-iteration-count: 1;
}
#flash .flash.success, #flash .flash.notice {
  border: solid 3px #6EC207;
}
#flash .flash.info {
  border: solid 3px #3876BF;
}
#flash .flash.warn, #flash .flash.alert {
  border: solid 3px #FF6600;
}
#flash .flash.error {
  border: solid 3px #E72929;
}

.top-nav-container {
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0.5rem 0rem 0rem 0rem;
  transition: box-shadow 0.3s ease;
  flex-direction: column;
  align-items: center;
}
.top-nav-container.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow when scrolled */
}
.top-nav-container .primary-nav-container {
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.top-nav-container .secondary-nav-container {
  width: 100%;
}
.top-nav-container nav#top-nav-secondary {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0.5rem 0;
}
.top-nav-container nav#top-nav-secondary .right-section {
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.top-nav-container nav#top-nav-secondary .in-progress-popup {
  min-width: 250px;
}
.top-nav-container nav#top-nav {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  /* Hamburger Menu Toggle Button */
  /* Navigation Links */
  /* Right-aligned actions */
}
.top-nav-container nav#top-nav > * {
  padding: 5px;
}
.top-nav-container nav#top-nav a:hover:active,
.top-nav-container nav#top-nav button:hover:active {
  transform: scale(0.97); /* Slightly shrink to simulate pressing */
}
.top-nav-container nav#top-nav .menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: auto;
  z-index: 1001;
  /* Hamburger animation when active */
}
.top-nav-container nav#top-nav .menu-toggle .hamburger,
.top-nav-container nav#top-nav .menu-toggle .hamburger::before,
.top-nav-container nav#top-nav .menu-toggle .hamburger::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.top-nav-container nav#top-nav .menu-toggle.active .hamburger {
  background-color: transparent;
}
.top-nav-container nav#top-nav .menu-toggle.active .hamburger::before {
  transform: translateY(0.5rem) rotate(45deg);
}
.top-nav-container nav#top-nav .menu-toggle.active .hamburger::after {
  transform: translateY(-0.5rem) rotate(-45deg);
}
.top-nav-container nav#top-nav .nav-links {
  display: flex;
  list-style: none;
  margin-left: 1rem;
  flex: 1;
}
.top-nav-container nav#top-nav .nav-links li {
  margin: 0 0.5rem;
}
.top-nav-container nav#top-nav .nav-links a,
.top-nav-container nav#top-nav .nav-links button {
  color: black;
  text-decoration: none;
  padding: 0.5rem 0rem;
  display: block;
}
.top-nav-container nav#top-nav .nav-links a:hover, .top-nav-container nav#top-nav .nav-links a:focus,
.top-nav-container nav#top-nav .nav-links button:hover,
.top-nav-container nav#top-nav .nav-links button:focus {
  text-decoration: underline;
}
.top-nav-container nav#top-nav .nav-right-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.top-nav-container nav#top-nav .nav-right-actions > * {
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .top-nav-container nav#top-nav {
    width: 100%;
    /* Right-aligned actions */
    /* Adjust logo and menu toggle */
  }
  .top-nav-container nav#top-nav .menu-toggle {
    display: block;
  }
  .top-nav-container nav#top-nav .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* horizontal, vertical, blur, color */
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: start;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;
    /* Show menu when active */
  }
  .top-nav-container nav#top-nav .nav-links li {
    width: 100%;
    margin: 0;
  }
  .top-nav-container nav#top-nav .nav-links a,
  .top-nav-container nav#top-nav .nav-links button {
    width: 100%;
    padding: 1rem;
    color: #0F64CD;
    border-bottom: 1px solid rgba(25.5, 25.5, 25.5, 0.2);
  }
  .top-nav-container nav#top-nav .nav-links.active {
    right: 0;
  }
  .top-nav-container nav#top-nav .nav-right-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .top-nav-container nav#top-nav .logo {
    flex: 1;
  }
}

footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  padding: 1rem;
}
footer .footer-container {
  display: flex;
  max-width: 1280px;
  margin: auto;
  height: 125px;
}
footer .footer-container div {
  display: flex;
  flex-direction: column;
  width: 25%;
}
footer .footer-container a {
  padding: 7px 0;
}
@media (max-width: 768px) {
  footer .footer-container div {
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 0 0.75rem;
  }
}

.tooltip {
  position: absolute;
  max-width: 90vw;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 999;
  overflow: visible;
  padding: 10px;
}

/* Use separate classes for the arrow direction */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotateZ(180deg);
}

/* Outer "border" arrow */
.tooltip-arrow::before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.2); /* outer border color */
  top: -8px;
  left: -10px;
}

/* Inner arrow */
.tooltip-arrow::after {
  content: "";
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff; /* inner arrow color */
  top: -8px; /* move it down slightly so it sits inside the 'border' */
  left: -8px;
}

/* Position for below scenario */
.tooltip--below .tooltip-arrow {
  top: -10px;
}

/* If tooltip is below the parent, arrow points upwards */
/* Supposedly "below" means tooltip is below the parent:
   The arrow should point UP (arrow on top of the tooltip). */
.tooltip--below .tooltip-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  top: -8px;
}

/* Supposedly "above" means tooltip is above the parent:
   The arrow should point DOWN (arrow on bottom of the tooltip). */
.tooltip--above .tooltip-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  bottom: -8px;
  /* Outer "border" arrow */
  /* Inner arrow */
}
.tooltip--above .tooltip-arrow.tooltip-arrow::before {
  top: -2px;
  transform: rotateZ(180deg);
}
.tooltip--above .tooltip-arrow.tooltip-arrow::after {
  top: 0; /* move it down slightly so it sits inside the 'border' */
  transform: rotateZ(180deg);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-container .header-details {
  width: 50%;
}
.home-container .header-details p {
  padding: 0.5rem 0;
}
.home-container .header-details div {
  padding: 0.75rem 0;
}
.home-container .learning-methods-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home-container .learning-methods-container .learning-method-group {
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-container .learning-methods-container .learning-method-group .learning-method-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 48%;
}
.home-container .learning-methods-container .learning-method-group .learning-method-item p {
  width: 80%;
  padding-top: 1rem;
}
.home-container .learning-methods-container .learning-method-group .learning-method-item img {
  height: 350px;
  width: 350px;
}
@media (max-width: 768px) {
  .home-container .header-details {
    width: 100%;
  }
  .home-container .learning-methods-container .learning-method-group {
    flex-direction: column;
  }
  .home-container .learning-methods-container .learning-method-group .learning-method-item {
    width: 98%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it sits above other elements */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 600px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
}

/* Loading and Error Styles */
.loading {
  font-style: italic;
  color: #555;
}

.error {
  color: red;
}

.popup {
  position: absolute;
  top: 100%; /* Positions right below the link container */
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  z-index: 1000;
}
.popup button {
  padding: 0.25rem 0.25rem;
}
.popup button:hover {
  text-decoration: underline;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.progress-container {
  display: flex;
  width: 95%;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  /* Progress Text */
}
.progress-container .progress-text {
  text-align: center;
  font-size: 0.75rem;
  color: #343131;
  pointer-events: none;
}

.meter {
  box-sizing: content-box;
  height: 0.5rem; /* Can be anything */
  position: relative;
  width: 100%;
  margin-left: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.faq-container {
  padding-top: 1rem;
}
.faq-container .faq-item p {
  text-indent: 2rem;
}
.faq-container .faq-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.home-faq-container {
  text-align: left;
}

.flashcards-index-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.flashcards-index-container h2 {
  text-align: center;
}
.flashcards-index-container table {
  width: 100%;
  border-collapse: collapse;
}
.flashcards-index-container table th, .flashcards-index-container table td {
  text-align: left;
  padding: 8px;
}
.flashcards-index-container table .table-link {
  height: 100%;
  width: 100%;
  display: inline-table;
}
.flashcards-index-container table th:nth-child(2),
.flashcards-index-container table th:nth-child(3),
.flashcards-index-container table th:nth-child(4),
.flashcards-index-container table th:nth-child(5),
.flashcards-index-container table td:nth-child(2),
.flashcards-index-container table td:nth-child(3),
.flashcards-index-container table td:nth-child(4),
.flashcards-index-container table td:nth-child(5) {
  width: 7%;
  text-align: right;
}
.flashcards-index-container table th:nth-child(1),
.flashcards-index-container table td:nth-child(1) {
  width: auto;
}
.flashcards-index-container .flashcard-deck-actions {
  margin-bottom: 13px;
}
.flashcards-index-container .flashcard-deck-actions .create-deck-button {
  float: right;
}
.flashcards-index-container .flashcard-deck-actions form input[type=submit] {
  padding: 0 7px;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  border: solid 1px #0F64CD;
  color: #0F64CD;
}
.flashcards-index-container .flashcard-deck-actions form input[type=submit]:hover {
  background-color: #0F64CD;
  color: white;
}
.flashcards-index-container .flashcard-deck-actions form input[type=submit]:hover:active {
  transform: scale(0.96);
}

.study-decks-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.study-decks-container h2 {
  text-align: center;
}
.study-decks-container .hidden-card-content {
  display: flex;
  justify-content: center;
}
.study-decks-container .revealed-card-content {
  display: flex;
  justify-content: center;
}
.study-decks-container > div {
  padding-top: 23px;
}
.study-decks-container .finished-deck-study-container {
  text-align: center;
}
.study-decks-container .flashcard-rating-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 13px;
}
.study-decks-container .flashcard-rating-options form:not(:first-child) {
  margin-left: 3px;
}
.study-decks-container .flashcard-rating-options form:not(:last-child) {
  margin-right: 3px;
}

.show-deck-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.show-deck-container h2 {
  text-align: center;
}
.show-deck-container .add-flashcards-button {
  float: right;
}
.show-deck-container .deck-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
}
.show-deck-container .deck-info-container > div:first-child {
  display: grid;
  grid-template-columns: auto auto; /* Two columns: One for labels, one for numbers */
  column-gap: 10px; /* Space between the two columns */
  row-gap: 5px; /* Space between rows */
}
.show-deck-container .deck-info-container > div:first-child > div {
  display: contents; /* Allows the children to behave as grid items */
}
.show-deck-container .deck-info-container > div:first-child span {
  text-align: right;
  display: inline-block;
  min-width: 80px; /* Adjust width as needed to align colons */
}
.show-deck-container .deck-info-container > div:first-child div:last-child {
  text-align: left;
}
.show-deck-container .deck-info-container > div {
  flex: 1;
}
.show-deck-container .deck-info-container > div:last-child {
  text-align: center;
}

.passage-writer-show-container .passage-writer-title-container {
  display: flex;
  align-items: center;
}
.passage-writer-show-container .passage-writer-title-container .star-icon {
  margin-left: 3px;
  height: 45px;
  width: 45px;
  vertical-align: bottom;
}
.passage-writer-show-container .passage-writer-title-container .star-icon.star-filled {
  height: 37px;
  width: 37px;
  vertical-align: top;
}
.passage-writer-show-container .passage-writer-title-container .star-icon.star-1 {
  fill: #7E1891;
}
.passage-writer-show-container .passage-writer-title-container .star-icon.star-2 {
  fill: #E73879;
}
.passage-writer-show-container .passage-writer-title-container .star-icon.star-3 {
  fill: #F26B0F;
}
.passage-writer-show-container .passage-writer-title-container .star-icon.star-4 {
  fill: #FCC737;
}
.passage-writer-show-container .passage-writer-title-container .star-icon.star-5 {
  animation: fillAnimation 2s ease-in-out infinite;
  -webkit-animation: fillAnimation 2s ease-in-out infinite;
}
.passage-writer-show-container .sentence-card-main-container {
  display: flex;
  justify-content: space-between;
  min-height: 450px;
}
.passage-writer-show-container .sentence-card-main-container .sentence-card-attempt-container {
  width: 40%;
}
.passage-writer-show-container .sentence-writer-card {
  border-radius: 5px;
  padding: 19px 17px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* horizontal, vertical, blur, color */
  border: solid 1px rgba(0, 0, 0, 0.2);
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation {
  margin-bottom: 0.5rem;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions {
  float: right;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .icon {
  height: 1.5rem;
  width: 1.5rem;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container .passage-options-button:hover {
  cursor: pointer;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container .passage-options-items {
  min-width: 175px;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container .passage-options-items a, .passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container .passage-options-items button {
  padding: 5px 3px;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container .passage-options-items button:hover {
  text-decoration: underline;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container .passage-options-items a {
  color: black;
}
.passage-writer-show-container .sentence-writer-card .sentence-writer-navigation .passage-actions .passage-options-container button {
  cursor: pointer;
}
.passage-writer-show-container .check-result {
  display: flex;
  align-items: center;
}
.passage-writer-show-container .check-result .warning {
  color: #FCC737;
  margin-right: 0.25rem;
}
.passage-writer-show-container .check-result .success {
  color: green;
  margin-right: 0.25rem;
}
.passage-writer-show-container .check-result .check-result-actions {
  margin-left: auto;
}
.passage-writer-show-container .check-result-text {
  margin-top: 11px;
  font-size: 1rem;
}
.passage-writer-show-container .sentence-writer-card-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 2rem;
}
.passage-writer-show-container .sentence-writer-card-info-container > div {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.75rem;
}
.passage-writer-show-container .sentence-writer-card-info-container > div:not(:last-child) {
  margin-bottom: 1rem;
}
.passage-writer-show-container .sentence-writer-audio {
  width: 100%;
}
.passage-writer-show-container .sentence-writer-sentence-text {
  display: flex;
  align-items: center;
  margin: 7px 0;
  cursor: pointer;
}
.passage-writer-show-container .sentence-writer-sentence-text .hint-icon {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  fill: yellow;
}
.passage-writer-show-container .sentence-writer-sentence-text .sentence-prefix {
  font-weight: bold;
}
.passage-writer-show-container .sentence-writer-sentence-text.blur {
  cursor: help;
}
.passage-writer-show-container .sentence-pronunciations-container {
  display: flex;
  flex-direction: column;
}
.passage-writer-show-container .sentence-pronunciations-container .pronunciation-words {
  word-break: break-word;
}
.passage-writer-show-container .sentence-pronunciations-container .pronunciation-words .pronunciation-word-container {
  cursor: pointer;
}
.passage-writer-show-container .sentence-pronunciations-container .pronunciation-words .pronunciation-word-container .pronunciation-word {
  border-bottom: dotted 2px #003087;
}
.passage-writer-show-container .sentence-pronunciations-container .pronunciation-words .pronunciation-word-container:hover .pronunciation-word {
  color: #C8102E;
}
.passage-writer-show-container .sentence-pronunciations-container .pronunciation-words .pronunciation-word-container:active {
  transform: scale(0.97);
}
.passage-writer-show-container .sentence-pronunciations-container .pronunciation-words .pronunciation-word-container:not(:last-child) {
  margin-right: 3px;
}
.passage-writer-show-container .word-pronunciation-container .word-pronunciation-header {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 3px;
}
.passage-writer-show-container textarea {
  resize: none;
  margin: 0.5rem 0;
  font-size: 1rem;
  width: 100%;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.75rem;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.passage-writer-show-container textarea.success {
  outline: none;
  border: solid 3px green;
}
.passage-writer-show-container textarea.warning {
  outline: none;
  border: solid 3px #FCC737;
}
.passage-writer-show-container .sentence-card-completed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 450px;
}
.passage-writer-show-container .sentence-card-completed-container .passage-completed-content {
  margin: auto;
}
.passage-writer-show-container .sentence-card-completed-container .success {
  color: green;
  height: 50px;
  width: 50px;
}
.passage-writer-show-container .sentence-card-completed-container .completed-nav-links {
  margin: 1rem 0;
}
.passage-writer-show-container .sentence-card-completed-container .completed-nav-links a:not(:last-child) {
  margin-right: 0.5rem;
}
.passage-writer-show-container .sentence-card-completed-container .passage-completed-text {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .passage-writer-show-container .sentence-card-main-container {
    display: flex;
    flex-direction: column;
  }
  .passage-writer-show-container .sentence-card-main-container .sentence-card-attempt-container {
    width: 100%;
  }
  .passage-writer-show-container .sentence-writer-card-info-container {
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
  }
}

.passages-by-category-container .pagy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.passages-by-category-container .pagy-container .search-input {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}
.passages-by-category-container .pagy-container .search-button {
  padding: 0.25rem 1rem;
  border: solid 1px #0F64CD;
  color: #F6F1E9;
  background-color: #0F64CD;
  border-radius: 3px;
}
.passages-by-category-container .pagy-container .search-button:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.passages-by-category-container .pagy-container .search-button:hover:active {
  transform: scale(97%);
}
.passages-by-category-container .pagy-container .search-button:last-child {
  margin-left: 1rem;
}
.passages-by-category-container .passages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  justify-items: start;
  align-items: start;
}
.passages-by-category-container .passages-list .passage-link {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.passages-by-category-container .passages-list .passage-link:hover {
  transition: border-color 0.3s ease;
  border-color: #343131;
}
.passages-by-category-container .passages-list .passage-link:hover:active {
  transform: scale(99.5%);
}
.passages-by-category-container .passages-list .passage-link .passage-title-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 0.25rem;
}
.passages-by-category-container .passages-list .passage-list-item {
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;
  text-decoration: none;
}
.passages-by-category-container .passages-list .passage-list-item:hover {
  text-decoration: none;
}
.passages-by-category-container .passages-list .passage-list-item div {
  color: #343131;
  font-size: 0.75rem;
  text-decoration: none;
}
.passages-by-category-container .star-icon {
  height: 25px;
  width: 25px;
  margin-right: 0.25rem;
  fill: black;
}
.passages-by-category-container .star-icon.star-filled {
  height: 21px;
  width: 21px;
}
.passages-by-category-container .star-icon.star-1 {
  fill: #7E1891;
}
.passages-by-category-container .star-icon.star-2 {
  fill: #E73879;
}
.passages-by-category-container .star-icon.star-3 {
  fill: #F26B0F;
}
.passages-by-category-container .star-icon.star-4 {
  fill: #FCC737;
}
.passages-by-category-container .star-icon.star-5 {
  animation: fillAnimation 5s infinite linear;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .passages-by-category-container .passages-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .passages-by-category-container .pagy-container {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .passages-by-category-container .pagy-container .search-button:last-child {
    margin-left: 0;
  }
  .passages-by-category-container .pagy-container .search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0.75rem 0;
  }
  .passages-by-category-container .pagy-container .search-form .search-input {
    flex: 1;
    margin-bottom: 0.5rem;
  }
  .passages-by-category-container .passages-list {
    grid-template-columns: 1fr;
  }
}

.passages-index-container {
  /* Responsive Layouts */
}
.passages-index-container h1 {
  text-align: left;
  margin-bottom: 1rem;
}
.passages-index-container .difficulties-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.passages-index-container .difficulties-list .difficulties-list-item {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* horizontal, vertical, blur, color */
}
.passages-index-container .difficulties-list .difficulties-list-item .difficulties-list-item-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.passages-index-container .difficulties-list .difficulties-list-item .difficulties-list-item-main img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 3px;
}
.passages-index-container .difficulties-list .difficulties-list-item .difficulties-list-item-main .difficulties-list-item-info {
  padding-left: 0.5rem;
  overflow: hidden;
  width: 100%;
  line-height: 1.5rem;
}
.passages-index-container .difficulties-list .difficulties-list-item .difficulties-list-item-main .difficulties-list-item-info .passages-difficulty-title {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0D6EFD;
  text-decoration: none;
  /* Handle text overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.passages-index-container .difficulties-list .difficulties-list-item .difficulties-list-item-main .difficulties-list-item-info .passages-difficulty-title:hover {
  text-decoration: underline;
}
.passages-index-container .difficulties-list .difficulties-list-item .difficulties-list-item-main .difficulties-list-item-info .passages-difficulty-title span {
  font-size: 1rem;
  color: #686D76;
}
.passages-index-container .difficulties-list .difficulties-list-item .hidden {
  display: none;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .passages-index-container .difficulties-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .passages-index-container .difficulties-list {
    grid-template-columns: 1fr;
  }
}

/* app/assets/stylesheets/application.css */
/* Styling for In-progress Data */
.in-progress-data, .notes-data {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.in-progress-data h2, .notes-data h2 {
  margin-top: 0;
}

.loading, .error {
  padding: 20px;
  margin-top: 10px;
}

.loading {
  font-style: italic;
  color: #555;
}

.error {
  color: red;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
body .main-content {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 6.75rem 0.5rem 0.5rem 0.5rem;
  flex: 1;
}
body .main-content .other-links {
  display: flex;
  flex-direction: column;
}
body .main-content .other-links:not(:last-child) {
  margin-bottom: 0.5rem;
}
body .hidden {
  display: none !important;
}
body .bold {
  font-weight: bold;
}
body .hidden-vis {
  visibility: hidden !important;
}
body .blur {
  filter: blur(3px);
}
body .line-separator {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin: 3rem 0;
}
@media (max-width: 768px) {
  body .main-content {
    padding: 6.5rem 0.75rem 0.5rem 0.75rem;
  }
}
