<h1>
  Cookie Policy
</h1>

<h4>
  Last Updated: <%= @date %>
</h4>

<h4>
  What Are Cookies?
</h4>
<p>
Cookies are small text files placed on your device to help websites function, remember your preferences, and provide analytics and personalized content.
</p>

<h4>
  Types of Cookies We Use
</h4>
<p>
Essential Cookies: We use authentication cookies to maintain your login session and ensure the proper functioning of our website.
<br>
Advertising Cookies (Third-Party): We use third-party advertising partners, including Google, that may use cookies to serve ads based on your prior visits to this or other websites. These partners may collect non-personal data to tailor advertisements to your interests.
</p>

<h4>
  GDPR & Consent
</h4>
<p>
If you are in the EU or a jurisdiction with similar data protection laws, the use of non-essential cookies (such as advertising cookies) may require your consent. Where applicable, we will request your consent before placing these cookies and you can withdraw it at any time.
</p>

<h4>
  Managing Cookies
</h4>
<p>
You can control and/or delete cookies as you wish. Most browsers allow you to refuse or remove cookies via their settings. Please note that disabling cookies may affect certain website functionalities, such as staying logged in.
</p>

<h4>
  Third-Party Advertising
</h4>
<p>
For more details on how Google uses information from sites or apps that use their services, please visit <a href="https://policies.google.com/">Google's Privacy & Terms</a>.
</p>

<h4>
  Changes to This Cookie Policy
</h4>
<p>
We may update this Cookie Policy from time to time. Any changes will be posted here with an updated “Last Updated” date.
</p>

<h4>
  Contact Us
</h4>
<p>
For questions regarding this Cookie Policy, please contact us here: <%= link_to 'Contact', new_support_tickets_path %>.
</p>
