@use "../variables" as v;
@use "../animations";

.passages-by-difficulty-container {
    .pagy-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .search-input {
            border: solid 1px v.$shadow-color;
            border-radius: 3px;
            padding: 0.25rem 0.25rem 0.25rem 0.5rem;
        }
        .search-button {
            padding: 0.25rem 1rem;
            border: solid 1px v.$korean-blue;
            color: v.$OFF_WHITE;
            background-color: v.$korean-blue;
            border-radius: 3px;

            &:hover {
                cursor: pointer;
                filter: brightness(110%);
                &:active {
                    transform: scale(97%);
                }
            }

            &:last-child {
                margin-left: 1rem;
            }
        }
    }

    .passages-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
        justify-items: start; // Aligns items to the start horizontally
        align-items: start; // Aligns items to the start vertically

        .passage-link {
            border: solid 1px v.$shadow-color;
            border-radius: 5px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;

            .passage-title-container {
                display: flex;
                align-items: center;
                width: 100%;
                padding-left: 0.25rem;
            }
        }

        .passage-list-item {
            display: block;
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 0.25rem;
        }
    }

    .star-icon {
        height: 25px;
        width: 25px;
        margin-right: 0.25rem;
        fill: black;

        &.star-filled {
            height: 21px;
            width: 21px;
        }

        &.star-1 {
            fill: #7E1891;
        }

        &.star-2 {
            fill: #E73879;
        }

        &.star-3 {
            fill: #F26B0F;
        }

        &.star-4 {
            fill: #FCC737;
        }

        &.star-5 {
            animation: fillAnimation 5s infinite linear;
        }
    }

    @include v.respond-to(tablet) {
        .passages-list {
            grid-template-columns: repeat(2, 1fr); // 2 items per row on tablet
        }
    }

    @include v.respond-to(mobile) {
        .pagy-container {
            align-items: flex-start;
            flex-direction: column-reverse;

            .search-form {
                display: flex;
                width: 100%;
                margin: 0 0 0.75rem 0;

                .search-input {
                    flex: 1;
                }
            }
        }
        .passages-list {
            grid-template-columns: 1fr; // 1 item per row on mobile
        }
    }
}

