@use "../variables" as v;

@keyframes fillAnimation {
  0% {
    fill: #ff0000; // Red
  }
  20% {
    fill: #ffa500; // Orange
  }
  40% {
    fill: #ffff00; // Yellow
  }
  60% {
    fill: #008000; // Green
  }
  80% {
    fill: #0000ff; // Blue
  }
  100% {
    fill: #ff0000; // Red
  }
}

.passages-by-difficulty-container {
    .pagy-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .passages-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
        justify-items: start; // Aligns items to the start horizontally
        align-items: start; // Aligns items to the start vertically

        .passage-link {
            border: solid 1px v.$shadow-color;
            border-radius: 5px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 100%
        }

        .passage-list-item {
            display: block;
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 0;
        }
    }

    .star-icon {
        height: 25px;
        width: 25px;
        margin: 0 0.25rem;
        fill: black;

        &.star-filled {
            height: 21px;
            width: 21px;
        }

        &.star-1 {
            fill: #7E1891;
        }

        &.star-2 {
            fill: #E73879;
        }

        &.star-3 {
            fill: #F26B0F;
        }

        &.star-4 {
            fill: #FCC737;
        }

        &.star-5 {
            animation: fillAnimation 5s infinite linear;
        }
    }

    @include v.respond-to(tablet) {
        .passages-list {
            grid-template-columns: repeat(2, 1fr); // 2 items per row on tablet
        }
    }

    @include v.respond-to(mobile) {
        .passages-list {
            grid-template-columns: 1fr; // 1 item per row on mobile
        }
    }
}

