@use "../variables" as v;

.passages-index-container {
    h1 {
        text-align: left;
        margin-bottom: 1rem;
    }

    .difficulties-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;

        .difficulties-list-item {
            display: flex;
            flex-direction: column;
            border: solid 1px v.$shadow-color;
            border-radius: 5px;
            padding: 0.5rem;
            background-color: #fff;
            box-shadow: 0 1px 4px v.$shadow-color; /* horizontal, vertical, blur, color */

            .difficulties-list-item-main {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    height: 75px;
                    width: 75px;
                    object-fit: cover;
                    border-radius: 3px;
                }

                .difficulties-list-item-info {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0.5rem;
                    overflow: hidden;
                    width: 100%;

                    .passages-difficulty-title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: v.$nav-blue;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }

                        /* Handle text overflow */
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    span {
                        font-size: 1rem;
                        color: black;
                    }
                }
            }

            .hidden {
                display: none;
            }
        }
    }

    /* Responsive Layouts */

    @include v.respond-to(tablet) {
        .difficulties-list {
            grid-template-columns: repeat(2, 1fr); // 2 columns on tablet
        }
    }

    @include v.respond-to(mobile) {
        .difficulties-list {
            grid-template-columns: 1fr; // 1 column on mobile
        }
    }
}


/* app/assets/stylesheets/application.css */

/* Styling for In-progress Data */
.in-progress-data, .notes-data {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.in-progress-data h2, .notes-data h2 {
  margin-top: 0;
}

.loading, .error {
  padding: 20px;
  margin-top: 10px;
}

.loading {
  font-style: italic;
  color: #555;
}

.error {
  color: red;
}

