@use "../variables" as v;

.passages-index-container {
    .difficulties-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .difficulties-list-item {
            display: flex;
            flex-direction: column;
            width: 30%;
            border: solid 1px v.$shadow-color;
            border-radius: 5px;
            margin: 0 0.5rem 0.75rem 0.5rem;
            padding: 1rem;

            .difficulties-list-item-main {
                display: flex;
                flex-direction: row;
            }

            .difficulties-list-item-info {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding-left: 0.5rem;
                overflow: hidden;

                .passages-difficulty-title {
                    font-size: 1.5rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    @include v.respond-to(tablet) {
        .difficulties-list {
            .difficulties-list-item {
                width: 47%;
            }
        }
    }

    @include v.respond-to(mobile) {
        .difficulties-list {
            flex-direction: column;

            .difficulties-list-item {
                width: 97%;
            }
        }
    }
}
