@use "../../variables" as v;
@use "../../animations";

.passage-writer-show-container {
    .passage-writer-title-container {
        display: flex;
        align-items: center;

        .star-icon {
            margin-left: 3px;
            height: 45px;
            width: 45px;
            vertical-align: bottom;

            &.star-filled {
                height: 37px;
                width: 37px;
                vertical-align: top;
            }

            &.star-1 {
                fill: #7E1891;
            }

            &.star-2 {
                fill: #E73879;
            }

            &.star-3 {
                fill: #F26B0F;
            }

            &.star-4 {
                fill: #FCC737;
            }

            &.star-5 {
                animation: fillAnimation 2s ease-in-out infinite;
                -webkit-animation: fillAnimation 2s ease-in-out infinite;
                //animation: spinAnimation 5s linear infinite, fillAnimation 2s ease-in-out infinite;
                //-webkit-animation: spinAnimation 5s linear infinite, fillAnimation 2s ease-in-out infinite;
            }
        }
    }

    .sentence-card-main-container {
        display: flex;
        justify-content: space-between;
        min-height: 450px;

        .sentence-card-attempt-container {
            width: 40%;
        }
    }

    .sentence-writer-card {
        border-radius: 5px;
        padding: 19px 17px;
        @include v.shadow-style;

        .sentence-writer-navigation {
            margin-bottom: 0.5rem;

            .passage-actions {
                float: right;

                .icon {
                    height: 1.5rem;
                    width: 1.5rem;
                }

                .passage-options-container {
                    .passage-options-button {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .passage-options-list {
                        button {
                            padding: 5px 3px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    button {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .check-result {
        display: flex;
        align-items: center;

        .warning {
            color: v.$warning;
            margin-right: 0.25rem;
        }

        .success {
            color: v.$success;
            margin-right: 0.25rem;
        }
        .check-result-actions {
            margin-left: auto;
        }
    }

    .check-result-text {
        margin-top: 11px;
        font-size: 1rem;
    }

    .sentence-writer-card-info-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 2rem;

        > div {
            border: solid 1px v.$shadow-color;
            border-radius: 5px;
            padding: 0.75rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    .sentence-writer-audio {
        width: 100%;
    }

    .sentence-writer-sentence-text {
        display: inline-block;
        margin: 11px 0;
        cursor: pointer;

        .sentence-prefix {
            font-weight: bold;
        }

        &.blur {
            cursor: help;
        }
    }

    .sentence-pronunciations-container {
        display: flex;
        flex-direction: column;

        .pronunciation-words {
            word-break: break-word;

            .pronunciation-word-container {
                cursor: pointer;

                .pronunciation-word {

                    border-bottom: dotted 2px v.$colombian-blue;
                }

                &:hover {
                    .pronunciation-word {
                        color: v.$colombian-red;
                    }
                }
                &:active {
                    transform: scale(0.97);
                }
                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }
    }

    .word-pronunciation-container {
        .word-pronunciation-header {
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 3px;
        }
    }

    textarea {
        resize: none;
        margin: 0.5rem 0;
        font-size: 1rem;
        width: 100%;
        position: relative;
        border: solid 1px v.$shadow-color;
        border-radius: 5px;
        padding: 0.75rem;
        box-sizing: border-box;

        font-family: Arial, sans-serif;

        &.success {
            outline: none;
            border: solid 3px v.$success;
        }

        &.warning {
            outline: none;
            border: solid 3px v.$warning;
        }
    }

    .sentence-card-completed-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 450px;

        .passage-completed-content {
            margin: auto;
        }

        .success {
            color: v.$success;
            height: 50px;
            width: 50px;
        }

        .completed-nav-links {
            margin: 1rem 0;
            a {
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
            }
        }

        .passage-completed-text {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    @include v.respond-to(mobile) {
        .sentence-card-main-container {
            display: flex;
            flex-direction: column;

            .sentence-card-attempt-container {
                width: 100%;
            }
        }

        .sentence-writer-card-info-container {
            width: 100%;
            margin-top: 1rem;
            padding-left: 0;
        }
    }
}
