<turbo-stream action="replace" target="in_progress_popup">
  <template>
    <turbo-frame id="in_progress_popup" data-popup-target="popupFrame">
      <div class="popup">
        <% if @passage_progresses.present? %>
          <ul>
            <% @passage_progresses.each do |progress| %>
              <li>
                <strong><%= link_to progress.title, passage_writer_path(progress.difficulty, progress.title), data: { turbo: false } %></strong>
                <%= render partial: 'partials/progress_bar', formats: :html, locals: { current_index: progress.current_index, total: progress.sentences_count } %>
              </li>
            <% end %>
          </ul>
        <% else %>
          No passages in progress
        <% end %>
      </div>
    </turbo-frame>
  </template>
</turbo-stream>
