<div class="passages-index-container">
  <h1>All Passages</h1>
  <h3>By Difficulty</h3>
  <ul class="difficulties-list">
    <% @difficulties.each do |difficulty| %>
      <li class="difficulties-list-item">
        <div class="difficulties-list-item-main">
          <div style="height: 75px; width: 75px;">
            <img src="/images/ruby.png">
          </div>
          <div class="difficulties-list-item-info">
            <%= link_to difficulty.name.titleize, passages_by_difficulty_path(difficulty_name: difficulty.name), class: 'passages-difficulty-title' %>
            <div>
              <span><%= difficulty.total_passages %> <%= difficulty.total_passages == 1 ? 'passage' : 'passages' %></span>
            </div>
          </div>
        </div>
        <div class="hidden">
           <%= difficulty.translated_description %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
