@keyframes fillAnimation {
  0% {
    fill: #ff0000; // Red
  }
  20% {
    fill: #ffa500; // Orange
  }
  40% {
    fill: #ffff00; // Yellow
  }
  60% {
    fill: #008000; // Green
  }
  80% {
    fill: #0000ff; // Blue
  }
  100% {
    fill: #ff0000; // Red
  }
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin spin($duration: 2s, $timing: linear, $iteration: infinite) {
  animation: spinAnimation $duration $timing $iteration;
  -webkit-animation: spinAnimation $duration $timing $iteration;
}
