@use "variables";
@use "table";
@use "flash";
@use "navigation";
@use "breadcrumbs";
@use "topics/passage_writer/show";

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px; /* Base font size for rem units */
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;

    .main-content {
        margin: 0.5rem;
        max-width: 1080px;
        margin: auto;
        padding: 0.5rem;
    }

    .hidden {
        display: none !important;
    }

    button.button {
        padding: 7px;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            filter: brightness(85%); /* Darkens the color */
            &:active {
                transform: scale(0.96);
            }
        }
    }

    .bold {
        font-weight: bold;
    }
}

.tooltip {
  position: absolute;
  max-width: 90vw; // or consider max-width: 90vw;
  max-height: 100px; // Or set a max-height if you have dynamic content
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 999;
  overflow: hidden;
  // If you'd like it to resize, consider removing fixed height too and use padding.
}
