@use "resets";
@use "variables";
@use "animations";
@use "headers";
@use "links";
@use "buttons";
@use "select";
@use "form";
@use "table";
@use "pagy";
@use "breadcrumbs";
@use "flash";
@use "navigation";
@use "footer";
@use "tooltip";
@use "home";
@use "modal";
@use "popup";
@use "progress_bar";
@use "faq";
@use "flashcards";
@use "decks";
@use "topics/passage_writer/show";
@use "passages/by_category";
@use "passages/index";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    .main-content {
        max-width: 1280px;
        width: 100%;
        margin: auto;
        padding: 6.75rem 0.5rem 0.5rem 0.5rem;
        flex: 1;
        .other-links {
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    .hidden {
        display: none !important;
    }

    .bold {
        font-weight: bold;
    }

    .hidden-vis {
        visibility: hidden !important;
    }

    .blur {
        filter: blur(3px);
    }

    .line-separator {
        border-bottom: solid 1px variables.$shadow-color;
        margin: 3rem 0;
    }

    @include variables.respond-to(mobile) {
        .main-content {
            padding: 6.5rem 0.75rem 0.5rem 0.75rem;
        }
    }
}
