@use "variables";
@use "table";
@use "flash";
@use "navigation";
@use "breadcrumbs";
@use "tooltip";
@use "buttons";
@use "topics/passage_writer/show";

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px; /* Base font size for rem units */
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;

    .main-content {
        margin: 0.5rem;
        max-width: 1080px;
        margin: auto;
        padding: 0.5rem;
    }

    .hidden {
        display: none !important;
    }

    .bold {
        font-weight: bold;
    }

    .hidden-vis {
        visibility: hidden !important;
    }

    .blur {
        filter: blur(3px);

        &:hover {
            filter:blur(0px);
        }
    }
}

