.faq-container {
    padding-top: 1rem;

    .faq-item {
        p {
            text-indent: 2rem;
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}

.home-faq-container {
    text-align: left;
}
