@use "variables" as v;

footer {
    border-top: solid 1px v.$shadow-color;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .footer-container {
        display: flex;
        max-width: 1280px;
        margin: auto;
        height: 125px;
        div {
            display: flex;
            flex-direction: column;
            width: 25%;
        }

        a {
            padding: 7px 0;
        }
        @include v.respond-to(mobile) {
            div {
                display: flex;
                flex-direction: column;
                width: 49%;
                padding: 0 0.75rem;
            }
        }
    }
}
