@use "variables" as v;

.home-container {
    .header-details {
        width: 50%;
        p {
            padding: 0.5rem 0;
        }

        div {
            padding: 0.75rem 0;
        }
    }

    .learning-methods-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .learning-method-group {
            display: flex;
            width: 100%;
            justify-content: center;

            .learning-method-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                width: 48%;
                p {
                    width: 80%;
                    padding-top: 1rem;
                }

                img {
                    height: 350px;
                    width: 350px;
                }
            }
        }
    }

    @include v.respond-to(mobile) {
        .header-details {
            width: 100%;
        }
        .learning-methods-container {
            .learning-method-group {
                flex-direction: column;
                .learning-method-item {
                    width: 98%;
                }
            }
        }
    }
}

