@use "variables" as v;

a {
    color: v.$nav-blue;

    &.link-button {
        border-radius: 5px;
        padding: 0.75rem;
        color: white;
        background-color: v.$korean-blue;

        &.success-link {
            background-color: v.$success;
        }

        &.neutral-link {
            background-color: v.$neutral;
        }

        &:hover {
            filter: brightness(110%);
            text-decoration: none;
            &:active {
                transform: scale(0.96);
            }
        }
    }

    &:hover {
        text-decoration: underline;
    }
}
