<div>
  <h2><%= @deck.name %></h2>
  <div>
    <div>
      total: <%= @deck.flashcards.count %>
      <br>
      new: <!-- Should be how many unstudied cards are in the due pile -->
      <br>
      learning: <!-- How many cards still need to be reviewed -->
      <br>
      due: <!-- How many cards are due -->
    </div>
    <%= link_to "Study", study_deck_path(@deck), class: "button-link" %>
    <div data-controller="modal">
      <button type="button" class="button action-button" data-action="click->modal#open">
        Add Flashcards
      </button>
      <%= render partial: 'layouts/partials/modal', locals: { partial_name: 'flashcards/new_flashcard' } %>
    </div>
  </div>
</div>
