<div class="show-deck-container">
  <h2><%= @deck.name %></h2>
  <div data-controller="modal">
    <button type="button" class="button action-button add-flashcards-button" data-action="click->modal#open">
      Add Flashcards
    </button>
    <%= render partial: 'layouts/partials/modal', locals: { partial_name: 'flashcards/new_flashcard', locals: { flashcard: @flashcard, deck: @deck } } %>
  </div>
  <%= render partial: 'flashcards/deck_show_info_container', locals: { deck: @deck } %>
</div>
