<div id="data-modal" class="modal" data-modal-target="modal" role="dialog" aria-modal="true">
  <div class="modal-content">
    <span class="close-button" data-action="click->modal#close" aria-label="Close">&times;</span>
    <div data-modal-target="content">
      <!-- The fetched data will be displayed here -->
    </div>
  </div>
</div>
