<h1>
  Terms of Service
</h1>

<h4>
  Last Updated: <%= @date %>
</h4>

<h4>
  Use of the Service
</h4>
<p>
This language learning app is provided free of charge. By using our service, you agree to use it only for lawful purposes and in accordance with these Terms.
</p>

<h4>
  No Guarantee of Results
</h4>
<p>
We make no guarantees about your language learning progress, speed, or fluency. The service is provided on an "as-is" basis.
</p>

<h4>
  Intellectual Property
</h4>
<p>
All text, images, logos, and other content on this site are the property of [YourWebsite] or are used with permission. You may not copy, distribute, or otherwise use our content without express written permission.
</p>

<h4>
  Limitation of Liability
</h4>
<p>
To the fullest extent permitted by law, [YourWebsite] and its affiliates will not be liable for any indirect, incidental, or consequential damages arising from the use of our service.
</p>

<h4>
  Modifications to the Service
</h4>
<p>
We reserve the right to modify, suspend, or discontinue the service at any time without notice.
</p>

<h4>
  Governing Law
</h4>
<p>
These Terms shall be governed by and construed in accordance with the laws of the California, United States.
</p>

<h4>
  Compliance with Data Protection Laws
</h4>
<p>
By using our service, you agree to comply with all applicable data protection laws, including the General Data Protection Regulation (GDPR) if you are accessing the service from the European Union (EU) or the European Economic Area (EEA). We are committed to ensuring that your personal data is protected and used in accordance with these regulations.
</p>

<h4>
  Privacy Policy
</h4>
<p>
Our <%= link_to 'Privacy Policy', privacy_policy_path %> governs the collection, use, and protection of your personal data. By using our service, you consent to the practices described in the Privacy Policy.
</p>

<h4>
  Contact Information
</h4>
<p>
If you have any questions or concerns about these Terms, please contact us here: <%= link_to 'Contact', new_support_tickets_path %>.
</p>
